# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cf1/.vs/cf1/v15/.suo
cf1/.vs/cf1/v15/ipch/AutoPCH/dd2ae56a474161ab/MAIN.ipch
cf1/cf1.sln
cf1/Debug/cf1.ilk
*.pdb
*.cpp
